name: Auto Pull Request

on:
  push:
    branches:
      - '*'

jobs:
  auto_pull_request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          title: Automatically created pull request
          commit-message: Automatic pull request creation
          base: main